<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kerninventor.tools.spring.multithreadedtransaction.test.TestAreaMapper">


    <select id="findTestProvinces"
            resultType="cn.kerninventor.tools.spring.multithreadedtransaction.test.TestProvincePO">
        SELECT * FROM sys_province

    </select>
    <select id="findTestCountries"
            resultType="cn.kerninventor.tools.spring.multithreadedtransaction.test.TestCountryPO">
        SELECT * FROM sys_country
    </select>
</mapper>